# Visual Studio 2019 cache/options directory
.vs/

# Build results
[Bb]in/
[Oo]bj/

# Tools pulled down during build
.tools/
.dotnet/
.packages/

/OpenMP_BFS_CPP/Debug
/OpenMP_BFS_CPP/x64/Debug
/x64/Debug
/Debug
